@import "../../styles";
.active-link {
 background: #dedede;
}
mat-list-item {
  min-height: 48px;
  display: block;
  max-height: 50vh;
}
mat-list {
  width: 15vw;
}
.mat-button {
  width: 100%;
  margin-bottom: 5px;
}
