mat-sidenav-container {
  max-height: 100vh;
  min-height: 90vh;
}
div#routerDiv {
  margin-right: 10px;
  margin-left: 10px;
  padding: 5px 5px;
  min-height: 85vh;
}
ahr-topnav {
  margin: 0;
  width: 100vw;
}
